.cabeçalho{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 font:xx-large ;
 padding:45px ;
 
 height: 10px;
 border-radius: 19px;
}
body{
S
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 45%, rgba(55,40,130,1) 94%);
}

